#n1{
    font-size: 50px;
    font-family: 'Times New Roman';
    margin-top: 20px;
}
#col1{
    background-color: aqua;
    height:200px;
    width: 1100px;
    color:white;
    font-family: 'Times New Roman';
}
#Web{
    font-size: 30px;
    font-family: 'Times New Roman';
    margin-bottom: 10px;
    
}
#n2{
    color: aqua;
}
 #n3{
    color: aqua;
 }
 #n4{
    color: aqua;
 }
 #n5{
    color: aqua;
 }
 #n6{
    color: aqua;
 }